
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="cards p-3 shadow-sm bg-white rounded">
            <div class="d-flex flex-row mb-3">
              <img src="https://i.imgur.com/S2In5pz.png" width="70" />
            </div>
            <p>
              Developing products for developers,project managers and architects.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="cards p-3 shadow-sm bg-white rounded">
            <div class="d-flex flex-row mb-3">
              <img src="https://i.imgur.com/S5oK3Oe.png" width="70" />
              <div class="d-flex flex-column ml-2">
                <span>Salesforce</span
                ><span class="text-black-50">Project management</span
                ><span class="ratings"
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ></span>
              </div>
            </div>
            <h6>
              Developing products for developers,project managers and architects.
            </h6>
          </div>
        </div>

        <div class="col-md-3">
          <div class="cards p-3 shadow-sm bg-white rounded">
            <div class="d-flex flex-row mb-3">
              <img src="https://i.imgur.com/S5oK3Oe.png" width="70" />
              <div class="d-flex flex-column ml-2">
                <span>Salesforce</span
                ><span class="text-black-50">Project management</span
                ><span class="ratings"
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ></span>
              </div>
            </div>
            <h6>
              Developing products for developers,project managers and architects.
            </h6>
          </div>
        </div>

        <div class="col-md-3">
          <div class="cards p-3 shadow-sm bg-white rounded">
            <div class="d-flex flex-row mb-3">
              <img src="https://i.imgur.com/S5oK3Oe.png" width="70" />
              <div class="d-flex flex-column ml-2">
                <span>Salesforce</span
                ><span class="text-black-50">Project management</span
                ><span class="ratings"
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ></span>
              </div>
            </div>
            <h6>
              Developing products for developers,project managers and architects.
            </h6>
          </div>
        </div>
      </div>
    </div>
    





